:root {
  --main-black: #242424;
  --main-white: #ecebeb;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-white);
  color: var(--main-black);
  transition: 0.3s;
}

body.dark {
  margin: 0;
  padding: 0;
  background-color: var(--main-black) !important;
  color: var(--main-white) !important;
}

p,
h2 {
  margin: 0;
  padding: 0;
}

button {
  background-color: rgb(56, 72, 248);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

select,
input {
  background-color: rgb(245, 255, 255);
  border-radius: 5px;
}
