html {
  font-size: 20px;
  visibility: hidden;
}

h1 {
  justify-self: center;
}

header {
  margin-bottom: 2rem;
}

.hidden {
  display: none !important;
}

.exercise-row {
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 20px;
}

.exercise-label {
  margin-right: 20px;
}

.user-settings {
  display: flex;
  flex-direction: column;
}

.settings-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  gap: 10px;
}

.settings-row p {
  margin: 0;
}

#title-text {
  text-decoration: none;
  color: black;
  letter-spacing: 0.3rem;
  font-weight: 700;
  font-size: larger;
}

#table-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#table-container {
  width: auto;
  width: 1000px;
}

#overview-table {
  width: auto;
  max-width: 600px;
}

#exercises-table-button-wrapper {
  display: flex;
  justify-content: space-around;
  justify-self: center;
  margin: 1rem;
}

#cycles-input {
  width: auto;
  justify-self: center;
  margin-bottom: 1rem;
}

#login-container {
  max-width: 400px;
}

#register-container {
  max-width: 600px;
}

#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin: 2rem;
}

#settings-container {
  justify-self: center;
  max-width: 500px;
}
