html {
  font-size: 20px;
  visibility: hidden;
}

h1 {
  justify-self: center;
}

header {
  margin-bottom: 2rem;
}

a {
  text-decoration: none !important;
}

.hidden {
  display: none !important;
}

.exercise-row {
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 20px;
}

.exercise-label {
  margin-right: 20px;
}

.user-profile {
  display: flex;
  flex-direction: column;
}

.profile-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  gap: 10px;
}

.profile-row p {
  margin: 0;
}

.guide-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guide-title {
  font-size: 32px;
}

.feedback-ribbon {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 1s ease,
    transform 1s ease;
}

.feedback-ribbon p {
  margin: 0;
  padding: 0.5rem;
  color: rgba(60, 40, 40);
}

.feedback-ribbon.show {
  opacity: 1;
  transform: translateY(0);
}

.feedback-ribbon.hide {
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 1s ease,
    transform 1s ease;
}

.feedback-ribbon p {
  margin: 0;
  padding: 0.5rem;
  color: rgba(50, 50, 50);
}

.feedback-ribbon.success {
  background-color: rgba(82, 238, 68, 0.7);
}

.feedback-ribbon.error {
  background-color: rgba(244, 67, 67, 0.7);
}

.form-select.category {
  margin-right: 0.5rem;
}

#title-text {
  font-family: "Courier New", Courier, monospace;
  color: black;
  letter-spacing: 0.3rem;
  font-weight: 500;
  font-size: 64px;
}

#table-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#table-container {
  width: auto;
  width: 1000px;
}

#overview-table {
  width: auto;
  max-width: 600px;
}

#exercises-table-button-wrapper {
  display: flex;
  justify-content: space-around;
  justify-self: center;
  margin: 1rem;
}

#history-table-button-wrapper {
  display: flex;
  justify-self: center;
  margin: 1rem;
}

#cycles-input {
  width: auto;
  justify-self: center;
  margin-bottom: 1rem;
}

#login-container {
  max-width: 400px;
}

#register-container {
  max-width: 600px;
}

#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

#profile-container {
  justify-self: center;
  max-width: 500px;
}

#guide-container {
  justify-self: center;
  max-width: 600px;
}

#finished-roll-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
}
