html {
  font-size: 20px;
  visibility: hidden;
}

h1 {
  justify-self: center;
}

.hidden {
  display: none;
}

.exercise-row {
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 20px;
}

.exercise-label {
  margin-right: 20px;
}

#exercises-table-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#table-container {
  width: 1000px;
}

#overview-table {
  width: 600px;
}

#exercises-table-button-wrapper {
  display: flex;
  justify-content: space-around;
  justify-self: center;
  margin: 1rem;
}

#cycles-input {
  width: auto;
  justify-self: center;
  margin-bottom: 1rem;
}
