<h1><a href="index.html" id="title-text">Bikkanto</a></h1>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="roll.html">Roll</a></li>
        <li class="nav-item">
          <a class="nav-link" href="history.html">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="exercises.html">Exercises</a>
        </li>
      </ul>

      <!-- Right-side buttons -->
      <div class="d-flex align-items-center">
        <a
          href="profile.html"
          id="profile-btn"
          class="btn btn-outline-light me-2 btn-sm"
          >Profile</a
        >
        <a id="login-btn" class="btn btn-outline-primary me-2 btn-sm">Login</a>
        <a id="logout-btn" class="btn btn-outline-primary btn-sm">Logout</a>
      </div>
    </div>
  </div>
</nav>
